<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/betting.css' %}">
        <title>갈라치기</title>
    </head>
    <body class="container-fluid">
        <div class="d-flex" id="wrapper">

            <!-- Sidebar -->
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div class="sidebar-heading"><b> 갈라치기 </b></div>
                <div class="list-group list-group-flush">
                    <a href="/match/available/" class="list-group-item list-group-item-action bg-light">베팅 : 참여</a>
                    <a href="/match/finish/" class="list-group-item list-group-item-action bg-light">베팅 : 결과 확인</a>
                    <a href="/payment/" class="list-group-item list-group-item-action bg-light">입/출금 & 베팅 내역 보기</a>
                    <a href="/help/" class="list-group-item list-group-item-action bg-light">1:1 문의하기</a>
                </div>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-secondary" id="menu-toggle">메뉴 보기 / 숨기기</button>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    계정
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    {% if user.is_authenticated %}
                                        <a class="dropdown-item" href="{% url 'logout' %}">로그아웃</a>
                                        <a class="dropdown-item" href="/password_reset/">비밀번호 변경</a>
                                        <a class="dropdown-item" href="/account_reset/">계좌 변경</a>
                                    {% else %}
                                        <a class="dropdown-item" href="{% url 'login' %}">로그인</a>
                                    {% endif %}
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="container-fluid">
                    {% block content %}
                    {% endblock %}

                    {% if is_paginated %}
                        <nav aria-label="Page navigation conatiner"></nav>
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; 이전 </a></li>
                            {% endif %}
                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> 다음 &raquo;</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>

    </body>
</html>
</html>