{% extends 'betting/base.html' %}

{% block content %}
    <br/>
    {% for owner in owner_list %}
        <h1>입/출금  [ {{ owner.bank_name }}  {{ owner.account }} ]</h1>
    {%  endfor %}
    <br/>
    <br/>
    <h4>적립금 : 130만원</h4>
    <br/>

    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">입금 확인 요청</button>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">출금 요청</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">입/출금 요청</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">요청 내용 : </label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary">보내기</button>
                </div>
            </div>
        </div>
    </div>
    <br/><br/><br/>

    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">요청</th>
            <th scope="col">일시</th>
            <th scope="col">상태</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>입금 확인</td>
            <td>2020.04.20</td>
            <td>처리 중</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>출금</td>
            <td>2020.04.19</td>
            <td>처리 완료</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>출금</td>
            <td>2020.04.18</td>
            <td>처리 완료</td>
        </tr>
        </tbody>
    </table>
{% endblock %}