{% extends 'betting/base.html' %}

{% block content %}

    <br/>
    <h4>적립금 : 0만원</h4>
    <br/>

    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">요청</th>
            <th scope="col">일시</th>
            <th scope="col">상태</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>입금 확인</td>
            <td>2020.06.13</td>
            <td>처리 중</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>출금</td>
            <td>2020.05.29</td>
            <td>처리 완료</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>출금</td>
            <td>2020.05.18</td>
            <td>처리 완료</td>
        </tr>
        </tbody>
    </table>
{% endblock %}